<footer class="ba-footer">
	<div class="row column">
		<div class="row">
			<div class="small-12 medium-4 column">
				<h3 class="ba-section-title ba-section-title--small">Site navigation</h3>
				<ul class="ba-footer__nav">
					<li class=""><a href="index.html">Home</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="blog.html">Shop</a></li>
					<li><a href="contacts.html">Contact Us</a></li>
				</ul>
			</div>
			<div class="ba-footer__galery  small-12 medium-4 column">
				<h3 class="ba-section-title ba-section-title--small">Gallery</h3>
				<div class="row small-up-3">
					<div class="column column-block">
						<img src="/assets/img/gallery-1.png" alt="1">
					</div>
					<div class="column column-block">
						<img src="/assets/img/gallery-2.png" alt="2">
					</div>
					<div class="column column-block">
						<img src="/assets/img/gallery-3.png" alt="3">
					</div>

					<div class="column column-block">
						<img src="/assets/img/gallery-4.png" alt="4">
					</div>
					<div class="column column-block">
						<img src="/assets/img/gallery-5.png" alt="5">
					</div>
					<div class="column column-block">
						<img src="/assets/img/gallery-6.png" alt="6">
					</div>
				</div>
			</div>
			<div class="small-12 medium-4 column">
				<h3 class="ba-section-title ba-section-title--small">Timing</h3>
				<ul class="ba-footer__timing" >
					<li>MON – THUR 10:00am – 12:00pm</li>
					<li>FRIDAY 6:00pm – 8:00pm</li>
					<li>SATURDAY 6:30pm – 9:30pm</li>
					<li>SUNDAY CLOSED</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
