<header class="ba-header">
	<div class="row column">
		<div class="top-bar align-middle">
			<div class="top-bar-title">
				<a class="ba-logo" href="index.html">
					<img src="../assets/img/logo.png" alt="logo">
				</a>
			</div>
			<span class="float-right" data-responsive-toggle="responsive-menu" data-hide-for="medium">
				<button class="menu-icon dark" type="button" data-toggle></button>
			</span>
			<div id="responsive-menu">
				<div class="top-bar-right">
					<ul class="ba-main-menu menu vertical medium-horizontal">
						<li class=""><a href="index.html">HOME</a></li>
						<li><a href="about.html">ABOUT US</a></li>
						<li><a href="blog.html">HISTORY</a></li>
						<li><a href="services.html">PRODUCTS</a></li>
						<li><a href="contacts.html">CONTATC</a></li>
						<li><a href="#" class="question-btn ba-site-btn">ASK A QUESTION</a></li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</header>
